/* Author Léa de Miras */

/* Universal Style */
html {
  height: 100%;
  font-family: "GlacialIndifferenceRegular", sans-serif;
  letter-spacing: 0.1em;
  font-size: 1em;
}

body {
  padding: 0% 2%;
}

img {
  max-width: 100%;
  height: auto;
}


/* Mobile Nav */
.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 0.5em;
  text-decoration: none;
  font-size: 2.5em;
  color: gray;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #fff;
}

.overlay .closebtn {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 30px;
}


@media only screen and (max-width: 550px),(orientation: portrait) {
  .overlay a {
    font-size: 2.5em;
    padding-bottom: 2em;
  }

  .overlay .closebtn {
  font-size: 30px;
  top: 5px;
  right: 5px;
  }
}



/* Header */

header {
  z-index: 100;
  width: 100%;
  background-color: white;
  font-family: "GlacialIndifferenceBold", sans-serif;
}

header .navigation{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em 0em;
}

header .name {
  text-decoration: none;
  color: black;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
}

header nav ul {
  display: flex;
}

nav li {
  padding-left: 3.5em;
}

nav a {
  vertical-align: bottom;
  font-size: 1.25em;
  text-decoration: none;
  color: black;
}

header #mobileNav {
  visibility: hidden;
}


@media only screen and (max-width: 600px) {
  header .navigation {
    padding: 1em 0em;
  }

  header .desktop {
    display: none;
  }

  header #mobileNav {
    visibility: visible;
  }

  header .name{
    font-size: 1.5em; 
  }
}

/* Underline Header */
.underline{
  position: relative;
}

.underline:after{
  content: '';
  position: absolute;
  width: 0; height: 3px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #000;
  transition: width .2s ease;
  -webkit-transition: width .4s ease;
}
 
.underline:hover:after{
  width: 100%;
  left: 0;
  background: #000;
}




/* Product Grid */
.product-grid {
  width: auto;
	display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.image-card {
  position: relative;
}

.text-card {
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  z-index: 1;
  width: 100%;
  color: black;
  align-content: center;
  justify-content: center;
  overflow: hidden;
}

.text-card h2 {
  display: flex;
  font-family: "GlacialIndifferenceBold", sans-serif;
  font-size: 1.5em;
  padding-bottom: 4%;
  margin: 6%;
}

.underline-title {
  display: inline-block;
  background-image: linear-gradient( #000, #000);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 2.5em 0.2em;
}

.text-card p {
  font-family: "GlacialIndifferenceRegular", sans-serif;
  font-weight: normal;
  display: flex;
  font-size: 0.75em;
  line-height: 1.4;
  width: 80%;
  margin: 0% 6% 6% 6%;
}


.illustration-card img {
  width: 60%;
  padding: 5%;
}

.illustration-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: inherit;
}



/* Product_Animation Grid */
.product_animation {
  width: auto;
	display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 1200px) {
  .product_animation {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 800px) {
  .product_animation {
    grid-template-columns: repeat(1, 1fr);
  }
}







/*  Product Page Illustration Background */

#edo_bench {
  background-color:#303e4c;
}

#snug_day_bed {
  background-color:#474551;
}

#plant_pot_stand,
#brush {
  background-color:#475a49;
}

#glide_console {
  background-color:#b87a37;
}

#ebb_chair {
  background-color:#dcd3cb;
}

#toy_tidy {
  background-color:#b0845f;
}

#tokyo_sofa_bed {
  background-color:#333e40;
}

#chalet_hooks {
  background-color:#a98459;
}

#newsletter_animation {
  background-color:#ea542d;
}

#catalogue,
#packaging{
  background-color:#4d586c;
}

#promotions,
#switch,
#oppo,
#product_animation {
  background-color:#000;
}

#guts {
  background-image: linear-gradient(45deg,#b699bc, #acb3db);
}

#card_voucher,
#pos {
  background-color: #9ac8ca;
}

#promotion_card {
  background-color: #f0f0f0;
}

#about {
  background-color:rgb(24, 36, 77);
}



/* Main Grid */
.container-grid {
  width: auto;
	display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* Hover title */
.grid-card {
    position: relative;
  }
  
  .image-card {
    line-height: 0;
    overflow: hidden;
  }
  
  .image-card img {
    filter: blur(0px);
    transition: filter 0.3s ease-in;
    transform: scale(1.1);
  }
  
  .title-card {
    font-size: 2em;
    font-family: "GlacialIndifferenceBold", sans-serif;
    text-decoration: none;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;
    background: rgba(82, 82, 82, 0.4);
    color: white;
    
    /* Text in the middle */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .grid-card:hover .title-card {
    opacity: 1;
  }
  
  .grid-card:hover .image-card img {
    filter: blur(2px);
  }
  
  
  /* Touch screen Hover */
  @media (hover: hover) and (pointer: coarse) { 
    .title-card {
      opacity: 1;
    }
    .image-card img {
      filter: blur(2px);
    }
}







/* Newsletter_Animation Grid */
.animation-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.animation-col {
  display: flex;
  flex-direction: column;
}

#animation-col {
  width: 24%;
  margin: 1% 0%;
}

#animation-col img{
  margin: 2% 0%;
}

@media (max-width: 1200px) {
  #animation-col {
    width: 48%;
  }
}

@media (max-width: 600px) {
  #animation-col {
    width: 100%;
  }
}



/* Media Grid */
@media (min-width: 600px) and (max-width: 1200px) {

  .container-grid {
    grid-template-columns: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width: 800px) and (orientation: portrait) {

  body {
    padding: 0% 4%;
  }

  .container-grid,
  .product-grid {
    grid-template-columns: 100%;
    grid-template-rows:repeat(1, 1fr);
  }


  .grid-card h2 {
    width: 75%;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 1.2em;
    font-weight: 500;
  }

  .grid-card {
    font-size: 0.75em;
    font-weight: 500;
    letter-spacing: 0.3px;
  }

  .text-card p {
    font-size: 0.75em;
    line-height: 1.4;
  }

  .text-card h2 {
    padding-bottom: 8%;
  }

  .title-card {
    font-size: 2.5em;
  }

  .illustration-card img {
    height: 12em;
    width: auto;
    padding: 0%;
  }
}

footer {
padding: 1% 0%;
font-family: "GlacialIndifferenceRegular", sans-serif;
}